.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  &_configPanel {
    display: flex;
    justify-content: center;
    width: 50%;
    &_select {
      width: 25%;
      height: 30px;
    }
    &_button {
      &-active {
        width: 15%;
        height: 2.3rem;
        margin-left: 5px;
        background-color: #455d7a;
        border: none;
        border-radius: 5px;
      }
      &-disable {
        width: 15%;
        height: 2.3rem;
        margin-left: 5px;
        background-color: #f95959;
        border: none;
        border-radius: 5px;
      }
    }
  }
  &_contentField {
    margin-top: 10px;
    &_flexRaw {
      display: flex;
    }
  }
  &_square-info {
    position: absolute;
    top: 50px;
    right: 300px;
    &_block {
      width: 200px;
      height: 30px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #fdffcd;
      transform: translateX(150%);
      animation: ani 1s forwards;
      @keyframes ani {
        0% {transform: translateX(150%);}
        100% {transform: translateY(0);}
      }
    }
  }
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  &_active {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #455d7a;
  }
}

.square-mode {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
}
